$pink: rgb(216, 61, 222)
$red: #FF3844
    
@font-face 
    font-family: "AttilaSansUniform"
    src: url("../fonts/AttilaSansUniform-Regular.otf")
    font-weight: normal

@font-face 
    font-family: "AttilaSansUniform"
    src: url("../fonts/AttilaSansUniform-Medium.otf")
    font-weight: bold
    
@font-face 
    font-family: "Mesclo"
    src: url("../fonts/Mesclo-Book.otf")

@font-face 
    font-family: "Archer Pro"
    src: url("../fonts/Archer-Book-Pro.otf")
    font-weight: normal

@font-face 
    font-family: "Archer Pro"
    src: url("../fonts/Archer-Medium-Pro.otf")
    font-weight: medium

body
    font-family: "Mesclo"

h1, h2, h3, h4, h5, h6
    font-family: "AttilaSansUniform"

.font-attila
    font-family: "AttilaSansUniform"

.font-mesclo
    font-family: "Mesclo"

.font-archer
    font-family: "Archer Pro"

.spacing-lg
    letter-spacing: 0.1em

a
    color: inherit
    text-decoration: none

a:hover
    opacity: 0.7
    color: $pink

.pink-shadow
    box-shadow: -9px -8px 12px -4px $pink

.dark-shadow
    box-shadow: -9px 5px 12px -4px lightgray

.border-pink
    border-color: $pink !important


.border-red
    border-color: $red !important

.pink
    color: $pink

.red
    color: $red

.hero-section
    min-width: 0
    width: 100vw

ul
    list-style: none
    padding-left: 0

.small-text
    font-size: 0.65em