---
layout: default
editions:
- year: "2021"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2021/
- year: "2020"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2020/
- year: "2019"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2019/
- year: "2018"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2018/
- year: "2017"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2017/
- year: "2016"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2016/
- year: "2015"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2015/
- year: "2014"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2014/
- year: "2013"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2013/
- year: "2012"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2012/
- year: "2011"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2011/
- year: "2010"
  title: "<p>Momento I : O QUE MUDA?<br>Momento II: MUDA?</p>"
  link: https://duplacena.com/temps-dimages-2010/

---
<div class="ms-3 me-5em ms-lg w-100">
<div class="d-flex flex-wrap justify-content-center border border-bottom-0 border-dark py-3 arquivo-scroll">
{% for edition in page.editions %}
  <div class="edition-container border border-dark text-center p-3 m-3 dark-shadow h-100">
    <a href="{{ edition.link }}" target="_blank">
      <p>{{ edition.year }}</p>
      <div class="px-4">{{ edition.title }}</div>
    </a>
  </div>
{% endfor %}
</div>
{% include momento1.html%}
</div>