---
layout: eng
contactos:
- cargo: Press
  nome: Helena Marteleira
  email: helenamarteleira@wakeup.com.pt
  telefone: ''
- cargo: Production
  nome: Ana Calheiros
  email: duplacena@duplacena.com
  telefone: 'Tel: (+351) 213 465 117'
- cargo: Technical Director
  nome: Mafalda Oliveira
  email: mafaldaso@yahoo.com
  telefone: ''
- cargo: Artistic Director
  nome: Mariana Brandão
  email: mariana.brandao@duplacena.com
  telefone: ''
- cargo: Director
  nome: António Câmara Manuel
  email: antoniocamaram@duplacena.com
  telefone: ''
producao:
- "/assets/img/duplacena_h_rgb_black.png"
- "/assets/img/logotipo-hs.jpg"
financiamento:
- "/assets/img/03-logotipo-cml_vertical_preto.jpg"
- "/assets/img/02-dgartes-horizontal-preto.jpg"
- "/assets/img/01-min-cultura-horizontal-preto.jpg"

---
<div class="ms-3 w-100 me-5em ms-lg">
  {% include moment1.html%}
  <div class="d-flex flex-column flex-lg-row border border-bottom-0 border-red col-scroll">
      <div class="p-4 p-lg-5 pb-lg-5 pb-3 text-center sobre-section sobre-s-left w-lg-50">
          {% for c in page.contactos %}
          <div class="contact-card">
              <h6>{{ c.cargo }}</h6>
              <h6><b>{{ c.nome }}</b></h6>
              <h6 class="font-mesclo">{{ c.email }}</h6>
          </div>
          {% endfor %}
      </div>

      <div class="p-4 p-lg-5 sobre-section sobre-s-right w-lg-50 text-center bg-offwhite">
          <h6>Production</h6>
          {% for logo in page.producao %}
          <img src="{{site.baseurl}}{{ logo }}" alt="logo Produção" class="logo-parceiros multiply">
          {% endfor %}
          <div class="pb-5"></div>
      </div>
  </div>
</div>