---
layout: default
momento1: "/assets/img/event-2.png"

---
<div class="hero-section ps-3">
    <div class="d-flex flex-column w-100">
        <div class="hero-container pink-shadow mb-3">
            <img src="{{site.baseurl}}{{page.momento1}}" alt="Momento 1" class="hero-img">
            <img src="{{site.baseurl}}/assets/img/eagora.svg" alt="Titulo" class="agora-img">
        </div>
        {% include momento1.html %}
        {% for event in site.events %}
            <div class="event-container d-flex px-2 border border-pink border-top-0">
                <img src="{{site.baseurl}}{{event.image}}" alt="Event Image" class="pink-shadow w-50 mx-4 event-img">
                <div class="event-details d-flex flex-column justify-content-center align-items-center text-center w-50">
                    <div>
                        <h6><b>{{ event.title }}</b></h6>
                        <h6>{{ event.artist }}</h6>
                        <br>
                        <ul>
                            <li>{{ event.dates }}</li>
                            <li>{{ event.venue }}</li>
                            <li>{{ event.times }}</li>
                        </ul>
                    </div>
                    <h2 class="red">+</h2>
                </div>
            </div>
        {% endfor %}    
    </div>
</div>
