---
layout: default
financiamento:
- "/assets/img/03-logotipo-cml_vertical_preto.jpg"
- "/assets/img/02-dgartes-horizontal-preto.jpg"
- "/assets/img/01-min-cultura-horizontal-preto.jpg"
apoio:
- "/assets/img/tba_extenso_preto.png"
- "/assets/img/marca_ccb_b-w.png"
- "/assets/img/logomeridional_2017_preto-horizontal.jpg"
- "/assets/img/cal-_-preto.jpg"
- "/assets/img/appleton2_b-w.png"
parceiros_media:
- "/assets/img/logo_acl-01.png"
- "/assets/img/coffeepaste_light.png"
- "/assets/img/antena3_positivo_horiz_b-w.png"
- "/assets/img/antena2_positivo_horiz_b-w.png"
- "/assets/img/antena1_positivo_horiz_b-w.png"

---
<div class="ms-3 me-5em w-100">
    <div class="border border-pink border-bottom-0 col-scroll text-center p-3 pt-5">
        <div>
            <h5>Financiamento</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for img in page.financiamento %}
                    <img src="{{ site.baseurl}}{{ img }}" alt="logo financiamento" class="logo-parceiros">
                {% endfor %}
            </div>
            <h5>Apoio</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for img in page.apoio %}
                    <img src="{{ site.baseurl}}{{ img }}" alt="logo apoio" class="logo-parceiros">
                {% endfor %}
            </div>
            <h5>Parceiros Media</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for img in page.parceiros_media %}
                    <img src="{{ site.baseurl}}{{ img }}" alt="logo parceitos_media" class="logo-parceiros">
                {% endfor %}
            </div>
        </div>
    </div>
    {% include momento1.html %}
</div>