---
layout: default
producao:
  - link: https://duplacena.com/
    logo: /assets/img/duplacena_h_rgb_black.png
    name: DuplaCena
  - link: https://www.facebook.com/hortasecaac/?locale=pt_PT
    logo: /assets/img/logotipo-hs.jpg
    name: Horta Seca
financiamento:
  - name: Ministério Cultura
    link: https://www.culturaportugal.gov.pt/
    logo: /assets/img/01-min-cultura-horizontal-preto.jpg
  - name: DG Artes
    link: https://www.dgartes.gov.pt/
    logo: /assets/img/02-dgartes-horizontal-preto.jpg
  - name: Câmara Lisboa
    link: https://www.lisboa.pt/cidade/cultura/entrada
    logo: /assets/img/03-logotipo-cml_vertical_preto.jpg
apoio:
  - name: Rua das Gaivotas 6
    link: https://ruadasgaivotas6.pt/
    logo: /assets/img/logo2.png
  - name: CAL / Primeiros Sintomas
    link: https://zillis.webnode.page/cal/
    logo: /assets/img/cal-_-preto.jpg
  - name: Centro Cultural de Belém
    logo: /assets/img/marca_ccb_rgb.png
    link: https://www.ccb.pt
  - name: Mono Lisboa
    link: http://monolisboa.com
    logo: /assets/img/logomono.png
  - name: Appleton
    logo: /assets/img/appleton2_b-w.png
    link: https://appleton.pt
  - name: A Barraca
    link: https://abarracateatro.com
    logo: /assets/img/image14368703396504.jpg
parceiros_media:
  - name: Antena 1
    link: https://www.rtp.pt/antena1/
    logo: /assets/img/antena1_positivo_horiz_b-w.png
  - name: Antena 2
    link: https://www.rtp.pt/antena2/
    logo: /assets/img/antena2_positivo_horiz_b-w.png
  - name: Coffeepaste
    link: https://coffeepaste.com/
    logo: /assets/img/coffeepaste2.png
  - name: Agenda Cultural
    link: https://www.agendalx.pt/
    logo: /assets/img/logo_acl-01.png
---
<div class="ms-3 me-5em w-100">
    {% include momento1.html %}
    <div class="border border-red bg-black border-bottom-0 border-top-0 col-scroll text-center p-3 pt-5 overflow-scroll">
        <div class="bg-black">
            <h5>Produção</h5>
            <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.producao %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo financiamento" class="logo-parceiros saturate multiply"></a>
                {% endfor %}
            </div>
            <h5>Financiamento</h5>
            <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.financiamento %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo financiamento" class="logo-parceiros saturate multiply"></a>
                {% endfor %}
            </div>
            <h5>Apoio</h5>
            <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.apoio %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo apoio" class="logo-parceiros saturate multiply"></a>
                {% endfor %}
            </div>
            <h5>Parceiros Media</h5>
            <div class="d-flex flex-wrap justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.parceiros_media %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo parceitos_media" class="logo-parceiros saturate multiply"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
