---
layout: eng
producao:
  - link: https://duplacena.com/
    logo: /assets/img/duplacena_h_rgb_black.png
    name: DuplaCena
  - link: https://www.facebook.com/hortasecaac/?locale=pt_PT
    logo: /assets/img/logotipo-hs.jpg
    name: Horta Seca
financiamento:
  - name: Ministério Cultura
    link: https://www.culturaportugal.gov.pt/
    logo: /assets/img/01-min-cultura-horizontal-preto.jpg
  - name: DG Artes
    link: https://www.dgartes.gov.pt/
    logo: /assets/img/02-dgartes-horizontal-preto.jpg
  - name: Câmara Lisboa
    link: https://www.lisboa.pt/cidade/cultura/entrada
    logo: /assets/img/03-logotipo-cml_vertical_preto.jpg
apoio:
  - name: CAL / Primeiros Sintomas
    link: https://zillis.webnode.page/cal/
    logo: /assets/img/cal-_-preto.jpg
  - name: Mercado do Rato
    logo: /assets/img/dona-ajuda-logo.webp
    link: https://donaajuda.pt/
  - logo: /assets/img/damas_logo_final.png
    name: Damas
    link: https://pt-pt.facebook.com/DAMASLISBOA/
  - name: Teatro Ibérico
    logo: /assets/img/iberico-logo.png
    link: https://teatroiberico.org/
  - name: Cinema São Jorge
    logo: /assets/img/logo-cinema-copy.png
    link: https://www.cinemasaojorge.pt/
  - name: Rua das Gaivotas 6
    logo: /assets/img/logo2.png
    link: https://ruadasgaivotas6.pt/
  - name: Espaço Casa Cheia
    logo: /assets/img/logo-casa-cheia.png
    link: https://www.facebook.com/espacocasacheia/
parceiros_media:
  - name: Antena 1
    link: https://www.rtp.pt/antena1/
    logo: /assets/img/antena1_positivo_horiz_b-w.png
  - name: Antena 2
    link: https://www.rtp.pt/antena2/
    logo: /assets/img/antena2_positivo_horiz_b-w.png
  - name: Coffee Paste
    link: https://coffeepaste.com/
    logo: /assets/img/coffeepaste_light.png
  - name: Agenda Cultural
    link: https://www.agendalx.pt/
    logo: /assets/img/logo_acl-01.png
---
<div class="ms-3 me-5em w-100">
  {% include moment1.html %}
    <div class="border border-red border-bottom-0 border-top-0 col-scroll text-center p-3 pt-5 overflow-scroll bg-black">
        <div >
            <h5>Production</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.producao %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo financiamento" class="logo-parceiros multiply"></a>
                {% endfor %}
            </div>
            <h5>Financing</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.financiamento %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo financiamento" class="logo-parceiros multiply"></a>
                {% endfor %}
            </div>
            <h5>Support</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.apoio %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo apoio" class="logo-parceiros saturate multiply"></a>
                {% endfor %}
            </div>
            <h5>Media Partners</h5>
            <div class="d-flex justify-content-center align-items-center mt-3 mb-5">
                {% for item in page.parceiros_media %}
                    <a href="{{ item.link }}"><img src="{{ site.baseurl}}{{ item.logo }}" alt="logo parceitos_media" class="logo-parceiros multiply"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>