.hero-img
    height: 77vh
    width: 100%
    object-fit: cover
    filter: saturate(0)
    object-position: 0 20%

.hero-container
    position: relative

.momento-2-arrow
    height: 36vh

.momento-2-toggle
    position: fixed
    top: 11vh
    bottom: 0
    right: 0
    background-color: #F3F3F3
    z-index: 5

.navbar-container
    height: 11vh

.rotate-90
    writing-mode: tb-rl
    transform: rotate(-180deg)
    font-size: 2.3vh

.agora-img
    position: absolute
    bottom: 8%
    right: 30%
    margin: auto
    width: 40vw

.depois
    width: 35em
    margin-top: 8vh
    margin-right: -5em
    margin-left: 1em

.momento-gaveta
    position: absolute
    font-size: 2em
    bottom: 20vh 
    text-align: center
    width: 100%

.depois-container
    display: none
    transition: 0.2s

.carousel-cell
    width: 100%
    height: 77vh

.carousel-cell img
    width: 100%
    height: 77vh
    object-fit: cover

.rect-arrow
    height: 33vh
    width: 1px
    background-color: $pink
    margin-top: -3px

.wider-arrow
    width: 65vw
    height: 1px
    background-color: white
    margin-right: -3px

@media only screen and (min-width: 990px) and (max-width: 1024px)
    .momento-2-toggle
        top: 9vh

    .navbar-container
        height: 9vh
        justify-content: flex-start !important

    .site-title
        font-size: 4.2vw
@media only screen and (max-width: 990px) 
    .rect-arrow
        height: 25vh

    .carousel-cell
        height: 62vh

    .carousel-cell img
        height: 62vh

    .momento-2-toggle
        top: 11vh

    .navbar-container
        height: 11vh

    .me-5em
        margin-right: 6em

    .agora-img
        top: 20%
        right: 8%
        width: 18em
        
    .hero-img
        height: 34vh

    .momento-1-header
        font-size: 2.5vh
        top: 4.4em

    .depois
        width: 24em
        margin-top: 16vh
        margin-right: -4em
        margin-left:  1em

    .pb-mobile
        padding-bottom: 10vh !important

@media only screen and (max-width: 500px) 
    .me-5em
        margin-right: 4em

