.momento-1-header
    position: sticky
    top: 4.7em
    background-color: white
    z-index: 5
    
.event-img
    margin-top: -10px
    margin-bottom: 2em
    transition: 0.3s

.event-container:nth-child(odd)
    flex-direction: row-reverse

.event-container:nth-child(even)
    flex-direction: row

.event-full
    width: 97% !important
    height: 65vh
    object-fit: cover
    transition: 0.5s

.event-full img
    height: 65vh
    object-fit: cover

.d-block
    display: block !important

.closed-event
    display: none

.open-event
    display: block


.bio-titulo
    background-color: white
    position: absolute
    top: -5px
    left: 5rem
    padding: 0 1em 
    font-size: 0.9em

.mx-6
    margin: 0 5.5rem

.pe-10
    padding-right: 10em

.event-btn
    transition: 0.2s

.event-btn:hover
    filter: drop-shadow(-1px 2px 2px $red)
    transition: 0.2s


.ticket-btn
    background-color: white
    color: $red
    position: absolute
    top: 1.5em
    left: 0.5em
    border: 1px solid $red
    font-size: 0.8em