<div class="border-top border-start border-red d-flex momento-2-toggle">
    <div class="text-center red depois-container">
        <img src="{{ site.baseurl }}/assets/img/edepois.svg" alt="e depois?" class="ps-5 depois">
        <div class="mt-5">PROGRAMAÇÃO EM BREVE</div>
    </div>
    <div class="d-flex flex-column p-2 p-lg-3 pb-5 pt-4 red justify-content-between align-items-center ms-md-2">
        <div class="rotate-90"> 14 OUT - 7 NOV 2022</div>
        <div>
            <svg width="24" height="238" viewBox="0 0 24 238" fill="none" xmlns="http://www.w3.org/2000/svg" class="momento-2-arrow">
                <g clip-path="url(#clip0_19_4)">
                <path d="M12.3536 6.64645C12.1583 6.45118 11.8417 6.45118 11.6465 6.64645L8.46448 9.82843C8.26922 10.0237 8.26922 10.3403 8.46448 10.5355C8.65975 10.7308 8.97633 10.7308 9.17159 10.5355L12 7.70711L14.8284 10.5355C15.0237 10.7308 15.3403 10.7308 15.5356 10.5355C15.7308 10.3403 15.7308 10.0237 15.5356 9.82843L12.3536 6.64645ZM12.5 232L12.5 7L11.5 7L11.5 232L12.5 232Z" fill="rgba(239, 0, 58)"/>
                </g>
                <defs>
                <clipPath id="clip0_19_4">
                <rect width="238" height="24" fill="white" transform="translate(7.62939e-06 238) rotate(-90)"/>
                </clipPath>
                </defs>    
            </svg>
        </div>
        <div class="font-attila rotate-90">Momento II</div>
    </div>
</div>