<div class="p-3 d-flex align-items-center justify-content-between">
<h1><a href="{{site.baseurl}}/"><span class="font-mesclo spacing-lg">TEMPS D'IMAGES</span><span class="ps-5">20 anos</span></a></h1>
<div class="pages-nav d-flex font-attila">
    <a href="{{site.baseurl}}/sobre" class="mx-3">Sobre</a>
    <a href="{{site.baseurl}}/programacao" class="mx-3">Programação</a>
    <a href="{{site.baseurl}}/parceiros" class="mx-3">Parceiros</a>
    <a href="{{site.baseurl}}/contactos" class="mx-3">Contactos</a>
    <a href="{{site.baseurl}}/arquivo" class="mx-3">Arquivo</a>
</div>
</div>
